@model MaquinaListadoViewModel

@{
	ViewData["Title"] = "Máquinas";
	Layout = "_Layout";
}

<div class="container mt-4">
	<div class="alert alert-light border-start border-4 border-secondary shadow-sm p-3 mb-4">
		<strong>¿Qué ves aquí?</strong> Lista visual de todas las máquinas registradas.
		Puedes ver su información básica, código QR y acceder rápidamente a las opciones de mantenimiento.
	</div>

	<div class="text-end mb-3">
		<a asp-action="Agregar" class="btn btn-primary shadow-sm"
		   style="background: linear-gradient(90deg, #667eea 0%, #764ba2 100%); border: none;">
			<i class="bi bi-gear-wide me-2"></i> Nueva máquina
		</a>
	</div>

	<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
		@foreach (var maquina in Model.maquinas)
		{
			<div class="col">
				<div class="card h-100 shadow-sm" style="border: solid 1px #030238">
					<div class="card-body">
						<h5 class="card-title fw-bold text-dark">@maquina.Nombre</h5>
						<p class="card-text mb-1">
							<strong>Ubicación:</strong> @maquina.Ubicacion
						</p>
						<p class="card-text mb-1">
							<strong>Código Interno:</strong> @maquina.CodigoInterno
						</p>
						<p class="card-text mb-2">
							<strong>Notas:</strong> @maquina.Notas
						</p>
						<hr />
						<div class="d-flex flex-wrap gap-2">
							<button class="btn btn-outline-primary btn-sm"
									onclick="mostrarQrModal('@maquina.QrImagePath', '@maquina.Nombre')">
								<i class="bi bi-qr-code"></i> Ver QR
							</button>


							<button class="btn btn-outline-success btn-sm"
									onclick="mostrarCheckListModal(@maquina.Id)">
								<i class="bi bi-ui-checks-grid"></i> Asignar Checklists
							</button>

							
							<a asp-action="Editar" asp-route-id="@maquina.Id"
							   class="btn btn-outline-secondary btn-sm">
								<i class="fas fa-edit"></i> Editar
							</a>
							<a asp-action="Eliminar" asp-route-id="@maquina.Id"
							   class="btn btn-outline-danger btn-sm">
								<i class="fas fa-trash-alt"></i> Eliminar
							</a>
							<a asp-action="Detalles" asp-route-id="@maquina.Id"
							   class="btn btn-outline-dark btn-sm">
								<i class="fas fa-circle-info"></i> Detalles
							</a>
						</div>
					</div>
				</div>
			</div>
		}
	</div>

	@if (!Model.maquinas.Any())
	{
		<div class="alert alert-info mt-4">No hay máquinas registradas.</div>
	}
</div>
<partial name="_modales" />




@section Scripts {
	<script src="~/js/maquinaschecklist.js"></script>
	<script src="~/js/utilidades.js"></script>
	<script>
		const urlMaquinasCheckList = "/api/MaquinasCheckLists";
	</script>
}
